<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <blockquote>
        When I stumble upon a new model that works well, I get pumped up, just like a kid strolling on the beach and spotting a rare gem. Balancing it all out, I also enjoy getting lost in books, grooving to music, and totally owning the badminton court.
      </blockquote>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:huong.n.pham01@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <!-- <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a> -->
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/huong-pham-6059a071/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <!-- <a aria-label="My Discord" target="_blank" href="#"><i class="icon fa fa-discord" aria-hidden="true"></i></a>  -->
        <a aria-label="My Github" target="_blank" href="https://github.com/hogmeade"><i class="icon fa fa-github-alt" aria-hidden="false"></i></a>
      </div>
      
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
