<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cytoscape" src="{{ "/assets/img/cytoscape.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Semantic Search </h3>
    <ul>
      <li> Javascript</li>
      <li> Cytoscape</li>
      <li> Python</li>
    </ul>
    <p style="text-align: left;"> Semantic search involves the concept of linking papers through their citations and cited papers, while highlighting common or popular ideas and showcasing the interconnectedness of these concepts.<br>Researchers can use this approach to determine where to commence their exploration and how to track current research trends, discerning potential directions for further investigation.</p>
    <a class="project-link" href="https://github.com/hogmeade/semanticSearch">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ClusterRouting.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cluster Routing Capsule Network Extension </h3>
    <ul>
      <li> Deep Learning</li>
      <li> Pytorch</li>
      <li> Capsule Network</li>
      <li> Part-whole Relationship</li>
    </ul>
    <p>A Capsule Network, or Capsule Neural Network (CapsNet), is designed to address limitations in traditional neural networks, focusing on hierarchical relationships and spatial hierarchies in data. Introduced by Geoffrey Hinton in 2017, the concept emphasizes dynamic routing for transparent decision-making in AI models, enhancing interpretability and fostering trust by revealing the decision-making process.<br><br>
      In contrast to dynamic routing, which involves iterative processes, cluster routing, a non-iterative method, outperforms with fewer parameters while preserving part-whole relationships. This work aims to clarify and analyze cluster routing, suggesting variations to achieve consensus among votes in distinct clusters. Exploring these variations can enhance cluster routing and capsule network capabilities, encouraging further exploration of this promising paradigm.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
